.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #E7EFED;
  }
  
  .logo {
    width: 50px; 
  }
  
  .nav-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-list {
    margin-right: 80px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
.carrito-image{
  width: 35px;
}